* {
    font-family: 'Nunito', sans-serif;
}

.title {
    text-align: center;
}

.main {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

.form-section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 35%;
    background-color: #a3a3a3;
    padding-bottom: 4%;
    border-radius: 5px 5px 0 0;
}

.add-item-title-container {
    width: 100%;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

h3 {
    font-size: 22px;
}

.add-item-form {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 100%;
    height: 40px;
    padding: 12px 20px;
    margin-bottom: 8px;
    margin-top: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    font-weight: 300;
    background-color: #FFFFFF;
}

.addButton {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #404040;
    outline: none;
    color: white;
    font-weight: 400;
}

.list-section {
    width: 100%;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 5px 5px;
}

#list {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 10px;
}

#list > li{
    list-style-type: none;
    width: 100%;
    margin: 12px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    border-radius: 5px;
    font-weight: 600;
}


#list > li > div {
    margin: 0;
    text-align: left;
}

.text-container {
    background-color: #FFFFFF;
    height: 100%;
    width: 73%;
    line-height: 35px;
    padding-left: 10px;
    border-radius: 5px;
}

#list > li > .button-container {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 23%;
}

.edit-button {
    height: 100%;
    width: 55%;
    margin: 0;
    outline: none;
    border: none;
    border-right: 1px solid black;
    background-color: #5D5C5D;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
}

.delete-button {
    height: 100%;
    width: 30%;
    margin: 0;
    outline: none;
    border: none;
    background-color: #5D5C5D;
    color: white;
    border-radius: 5px;
}