html {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.top {
    background-color: black;
    height: 33vh;
    width: 100%;
}

.mid {
    background-color: red;
    height: 34vh;
    width: 100%;
}

.low {
    background-color: yellow;
    height: 33vh;
    width: 100%;
}