/* ----- small style reset ----- */
* {
    font-family: "Roboto", sans-serif;
    vertical-align: baseline;
    list-style-type: none;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

/* ----- body & HTML size ----- */
html {
    width: 100%;
    height: auto;
}

body {
    width: 100%;
    height: auto;
    z-index: 0;
}

/* ---- main container styles ---- */
#mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ----- rows styling/positioning ---- */
.row {
    background-color: burlywood;
    width: 80%;
    height: 40%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* ---- box styling ---- */
.box {
    background-color: red;
    height: 70%;
    width: 35%;
    margin: auto;
}