/* ----- small style reset ----- */
* {
    font-family: "Roboto", sans-serif;
    vertical-align: baseline;
    list-style-type: none;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

/* ----- body & HTML size ----- */
html {
    width: 100%;
    height: auto;
}

body {
    width: 100%;
    height: auto;
    z-index: 0;
}

/* ----- rows styling/positioning ---- */
