/* ----- small style reset ----- */
* {
    font-family: "Roboto", sans-serif;
    vertical-align: baseline;
    list-style-type: none;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

/* ----- body & HTML size ----- */
html {
    width: 100%;
    height: auto;
}

body {
    width: 100%;
    height: auto;
    z-index: 0;
}

/* ---- main container styles ---- */
#mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom right, #45214A, #21445B);
}

/* ----- rows styling/positioning ---- */
.row {
    width: 75%;
    height: 33%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* ---- box styling ---- */
.box {
    background-color: #5D8A66;
    height: 160px;
    width: 160px;
    margin: auto;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 4px 4px 9px 1px #506266;
}

/* ---- hover styles & transitions ---- */
/* Box One */
#boxOne {
    transition: background-color 1s linear, box-shadow 1s linear;
}

#boxOne:hover {
    background-color: #F2CB05;
    box-shadow: 4px 4px 14px 9px #506266;
}

/* Box Two */
#boxTwo {
    
}

#boxTwo:hover {
    
}

/* Box Three */
#boxThree {
    
}

#boxThree:hover {
    
}

/* Box Four */
#boxFour {
    
}

#boxFour:hover {
    
}

/* Box Five */
#boxFive {
    
}

#boxFive:hover {
    
}

/* Box Six */
#boxSix {
    
}

#boxSix:hover {
    
}