/* ---- google font family css code ---- */
/*
font-family: 'Crimson Text', serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Libre Baskerville', serif;
*/

/* ----- small style reset ----- */
* {
    font-family: "Roboto", sans-serif;
    vertical-align: baseline;
    list-style-type: none;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

/* ---- Fonts ---- */
.julius {
    font-family: "Julius Sans One", sans-serif;
}

.crimson {
    font-family: "Crimson Text", serif;
}

/* ---- Body Styles ---- */
body {
    background-image: url(media/contours-opaque.png);
    background-repeat: repeat;
}

main {
    background-image: url(media/gridlines.png);
    background-repeat: repeat;
}

/* ---- Link Styles ---- */

a {
    text-decoration: none;
    color: #a9b995;
}

a:visited {
    color: #809b7e;
}

.instructionLink {
    color: #0d8ba1;
}

.instructionLink:hover {
    text-decoration: underline;
}

.instructionLink:visited {
    color: #0d8ba1;
}

.downloadLink {
    padding-top: 5px;
    padding-bottom: 5.5px;
    padding-right: 2px;
    transition: background-color 200ms linear, color 200ms linear;
}

.downloadLink:hover {
    background-color: #0d8ba1;
    color: #fff;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    position: relative;
    top: 7px;
    margin: 3px;
    background-color: #d9e1cd;
    border-radius: 3px;
    transition: background-color 200ms linear;
}

.downloadLink:hover .material-symbols-outlined {
    background-color: #085866;
}

.authorLink {
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
}

.authorLink:visited {
    color: rgba(255, 255, 255, 0.7);
}

#authorBoxMain p span a:hover {
    text-decoration: underline;
}dw

/* ---- Main Containers Positioning Mobile ---- */
/* ---- Main container Mobile ---- */

#mainBox {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0;
}

/* ---- misc styles affecting many ---- */

.wide {
    width: 100%;
}

/* ---- Header ---- */
#headerBox {
    grid-area: header;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #2d6360;
    background-size: cover;
    background-image: url(media/contours.png), url(media/noise.png),
        url(media/gridlines.png), url(media/huntington.jpg);
    background-size: 50%, 50%, 50%, cover;
    background-attachment: fixed, fixed, fixed, scroll;
}

#headLogo {
    height: 90px;
    margin-top: 24px;
    opacity: 0.7;
}

#headTextContainer {
    text-align: center;
    color: #fff;
}

#headText {
    margin-left: 15px;
    margin-top: 60px;
}

#headTextSub {
    opacity: 0.6;
}

.italic {
    font-style: italic;
}

.underline {
    border-bottom: 3px dotted #fff;
}

h1 {
    font-size: 40px;
    font-weight: 400;
}

h2 {
    font-size: 22px;
}

#navLinkBox {
    grid-area: headLink;
    position: absolute;
    height: 80px;
    top: 180px;
}

#navDiv {
    background-color: rgba(255, 255, 255, 0.25);
    display: inline;
    height: 80px;
    width: calc(100% - (160px));
    margin-left: 80px;
    margin-right: 80px;
    position: absolute;
    transition: background-color 110ms linear;
}

#navDiv:hover {
    background-color: rgba(255, 255, 255, 0.45);
}

#navDiv:active {
    background-color: rgba(255, 255, 255, 0.65);
}

.navText {
    position: absolute;
    color: #fff;
    font-size: 18px;
    line-height: 80px;
    width: 100%;
    text-align: center;
    opacity: 0.6;
    transition: opacity 200ms linear;
}

.navText:hover {
    opacity: 1;
}

#designNextLeft {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.25);
}

#designNextRight {
    width: 80px;
    height: 80px;
    right: 0;
    top: 0;
    position: absolute;
    display: inline;
    text-align: center;
    line-height: 65px;
    font-size: 100px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color 110ms linear;
}

.opacityDiv {
    opacity: 0.6;
    height: 80px;
    width: 80px;
    transition: opacity 200ms linear;
}

.opacityDiv:hover {
    opacity: 1;
}

#designNextRight:hover {
    background-color: rgba(255, 255, 255, 0.45);
}

#designNextRight:active {
    background-color: rgba(255, 255, 255, 0.65);
}

/* ---- First Main Content Box styles ---- */
#summaryBox {
    background-color: #fff;
    grid-area: mainOne;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summarySub {
    padding-left: 80px;
    padding-right: 80px;
}

.paragraph {
    margin-top: 16px;
    font-family: "Crimson Text", serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 200;
}

.summaryBoxThree {
    margin-bottom: 36px;
}

.summaryBoxOne {
    margin-top: 36px;
}

h3 {
    font-family: "Julius Sans One", sans-serif;
    margin-top: 36px;
    font-size: 20px;
    font-kerning: 5px;
}

/* ---- Instruction Section Styles ---- */
#instructionBox {
    background-color: rgba(138, 188, 159, 0.5);
    grid-area: mainTwo;
    height: auto;
    background-image: url(/media/contours-opaque.png),
        url(media/gridlines-opaque.png), url(media/bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    background-attachment: scroll, scroll, fixed;
}

.instructionSub {
    padding-left: 80px;
    padding-right: 80px;
}

#instructionBox div:first-child {
    padding-top:10px;
}

.instructionTwo {
    padding-bottom: 36px;
}

/* ---- Requirement Section Styles ---- */
#requirementBox {
    background-color: #fff;
    grid-area: mainThree;
    height: auto;
}

.requirementSub {
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 36px;
}

/* ---- Space filler Section Styles ---- */
#spaceFillerDiv {
    background-color: deeppink;
    grid-area: filler;
    display: none;
}

/* ---- author Section Styles ---- */
#authorBoxMain {
    grid-area: authors;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(media/contours.png), url(media/gridlines.png), url(media/noise.png), url(media/koi.jpg);
    background-size: auto, auto, auto, cover;
    background-attachment: fixed, fixed, fixed, scroll;
    background-repeat: repeat, repeat, repeat, no-repeat;
}

.authorBox {
    width: 75%;
    text-align: center;
    margin: 50px auto;
    line-height: 48px;
    font-size: 26px;
    padding: 5px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    color: rgba(255, 255, 255, 0.4);
}

/* ---- Social Section Styles ---- */
#socialBox {
    background-color: #134347;
    grid-area: icons;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#socialBox a {
    color:rgba(255, 255, 255, 0.4);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 3px solid rgba(255, 255, 255, 0.4);
    transition: background-color 250ms linear, border 250ms linear;
}

#socialBox a:hover {
    color: #134347;
    background-color: rgba(255, 255, 255, 0.4);
    height: 65px;
    width: 65px;
    border: none;
}

ion-icon {
    font-size: 30px;
}

.iconHolder {
    margin: auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
}

/* ---- Designs Section Styles ---- */
#designLinksBox {
    background-color: darkgreen;
    grid-area: designs;
    height: 350px;
}

/* ---- Navigation List Section Styles ---- */
#navigationListBox {
    background-color: darkkhaki;
    grid-area: navList;
    height: 200px;
}


