html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

.left {
    background-color: white;
    height: 100vh;
    width: 30vw;
    z-index: 10;
    position: fixed;
    left: 0;
}

.top {
    background-color: red;
    height: 50vh;
    width: 100vw;
}

.bottom {
    background-color: forestgreen;
    height: 50vh;
    width: 100vw;
}

