/* Main Sections */

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

header {
    background-color: #023059;
    color: white;
    height: 85px;
    width: 100%;
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
}

.formHolder {
    margin: 0;
    padding: 10px;
    padding-left: 15px;
    height: 60%;
    width: 40%;
    margin-top: 10%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #73a2bf;
}

form {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

/* Form Sections */

p {
    margin: 0;
    padding: 0;
}

.formSection {
    width: 100%;
}

.firstNameInput {
    margin-right: 10%;
}

.ageLabel {
    margin-right: 51px;
}

.genderOne {
    margin-right: 20px;
}

.dietInput {
    margin-right: 20px;
}

.inputBox {
    border-radius: 4px;
    border: 1px solid black;
    height: 20px;
    outline: none;
}

.submitButton {
    height: 30px;
    width: 120px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #f2caa7;
}

.locationInput {
    height: 22px;
    outline: none;
    border-radius: 4px;
}
